.soru-baslik
{
    padding: 5px;

}

.soru-secenekleri
{
    width: 100%;
    height: 60px;
    text-align: center;
    background-color: #FEF2F4;
    margin-top: 10px ;
    color: black ;
    border:none;
    border-radius: 10px;
    font-size: 15px;
}
.soru-secenekleri:hover
{
    cursor: pointer;
}
.soru-cevaplari{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    text-align: center;
    background-color: #FEF2F4;
    margin-top: 10px ;
    color: black ;
    border:none;
    border-radius: 10px;
}
.soru-alani
{
    padding: 20px;
    text-align: center;
    border: 2px solid #A16AFE;
    border-bottom: none;
}
.dogru{
    background-color: lightgreen;
}
.yanlis{
    background-color: lightcoral;
}
.tekraroyna,.anasayfa,.cevapaç
{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border-color: #2A2F4F;
    background-color:#FDE2F3 ;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.oyunu-baslat
{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border-color: #2A2F4F;
    background-color:#FDE2F3 ;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}